@import "tailwindcss";
@config "../tailwind.config.js";

.loading {
    @apply text-[24px] text-yellow-500 text-center;
}

.error {
    @apply mt-10 text-[20px] text-red-400 text-center;
}

/* loader */
.loader {
    width: calc(80px / cos(45deg));
    height: 14px;
    background: repeating-linear-gradient(-45deg,#fff 0 15px, #6db1ef 0 20px) left/200% 100%;
    animation: l3 2s infinite linear;
}
@keyframes l3 {
    100% {background-position:right}
}

